body {
  font-family: "Sofia Sans", sans-serif;
  font-size: medium;
}
.navbar img {
  height: 30%;
  width: 50px;
  padding-left: 20px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(156, 65, 117);
}

.navbar h3 {
  color: aliceblue;
  padding-right: 20px;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: -webkit-fill-available;
  height: 20px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  background-color: rgb(156, 65, 117);
  margin-top: 110px;
}

.footer a {
  color: white;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  color: rgb(130, 46, 105);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

card-info {
  margin-top: 10px;
}

.card-info > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.card-info h3 {
  margin: 0;
  margin-right: 10px; /* Add space between h3 and p */
  color: #6a0047; /* Color for h3 */
}

.card-info p {
  margin: 0;
  color: black; /* Color for p */
}
.card-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.card-rating p {
  margin: 0;
  margin-right: 10px; /* Add space between text and buttons */
  color: #6a0047; /* Color for text */
}

.card-rating button {
  padding: 5px 10px;
  background-color: #6a0047;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-rating button:hover {
  background-color: #4d0033; /* Darker color on hover */
}

/*side bar style */
.sidebar {
  position: flex;
  top: 100px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(156, 65, 117);
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0; /* Slide the sidebar in when 'open' class is applied */
}

.menu {
  margin-top: 5px;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px 20px;
  border-bottom: 1px solid #fdfdfd;
}

.menu li a {
  color: #fff; /* Menu item text color */
  text-decoration: none;
}

.menu li a:hover {
  background-color: #6a0047; /* Background color on hover */
}

.coderCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutCard {
  background-color: rgb(156, 65, 117);
  width: 400px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  color: rgb(255, 255, 255);
  text-align: justify;
  margin-bottom: 80px;
}

.aboutCard img {
  /* padding: 5px;  It removes the border radius*/
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.coderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.not-found {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutDescription {
  width: 900px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.aboutDescription p {
  font-size: 1.3em;
  padding: 5px;
}

.intro {
  text-align: center;
  text-decoration: underline;
}

/*side bar style */
.sidebar {
  position: flex;
  top: 100px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(156, 65, 117);
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0; /* Slide the sidebar in when 'open' class is applied */
}

.menu {
  margin-top: 5px;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px 20px;
  border-bottom: 1px solid #fdfdfd;
}

.menu li a {
  color: #fff; /* Menu item text color */
  text-decoration: none;
}

.menu li a:hover {
  background-color: #6a0047; /* Background color on hover */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  margin: 20px 0 0 0;
}

form label {
  text-decoration: overline dotted;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .form-boxes{
  width : 400px;
} */

/* .form-boxes input {
  margin: 5px;
  padding: 5px 10px;
} */

/* AddProductForm.css */
form-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align items with space between */
  gap: 20px; /* Add some space between items */
}

.form-boxes div {
  flex: 0 1 calc(45% - 20px); /* Adjust width of each item */
}

.form-boxes label {
  display: block;
  margin-bottom: 5px;
  color: #6a0047;
}

.form-boxes input,
.form-boxes textarea,
.form-boxes select {
  width: calc(100% - 10px); /* Adjust the width as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-boxes button {
  padding: 10px 20px;
  background-color: #6a0047;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-boxes button:hover {
  background-color: #6a0047;
}

/**** style for product detail page ******/
.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.product-detail img {
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 20px;
}

.product-info {
  border: 2px solid rgb(156, 65, 117);
  padding: 20px;
  border-radius: 5px;
}

.product-info h3 {
  display: inline;
  color: #4d0033;
  margin-right: 10px;
}
.product-info p {
  display: inline;
  color: black;
}

/***** style slide img /////*/
.sliderImg {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(222, 131, 177, 0.5);
  color: #6a0047;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
