#root {
  /* padding: 2rem;
  text-align: center; */
}

.navbar img {
  height: 30%;
  width: 50px;
  padding-left: 20px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(156, 65, 117);
}

.navbar h3 {
  color: aliceblue;
  padding-right: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: -webkit-fill-available;
  height: 20px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  background-color: rgb(156, 65, 117);
  margin-top: 40px;
}

.footer a {
  color: white;
}

.sidebar-list {
  background-color: #ffffff;
  width: 200px;
  height: 100vh;
  margin: 0;
}

.sidebar.open {
  left: 0; /* Show the sidebar when it's open */
}

ul {
  margin: 0;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  color: rgb(130, 46, 105);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-info {
  margin-top: 10px;
}

.card-info h3 {
  margin: 0;
  color: black;
}

.card-info p {
  margin: 5px 0;
}

.card-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-rating button {
  color: #ffffff;
}

.coderCard{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutCard {
  background-color: rgb(156,65,117);
  width: 400px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  color: rgb(255, 255, 255);
  text-align: justify;
  margin-bottom: 80px;
}

.aboutCard img {
  /* padding: 5px;  It removes the border radius*/
  width: 150px;
  height: auto;
  border-radius: 5px;
  
}

.coderInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.not-found {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.aboutDescription {
  width: 900px;
  display: flex;
  flex-direction: column ;
  padding: 10px;
}

.aboutDescription p{
  font-size: 1.3em;
  padding: 5px;
}

.intro{
text-align: center;
text-decoration: underline;
}