#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
  
}

.navbar img {
  height: 30%;
  width : 50px;
 padding-left: 20px;
}
.navbar {
   /* padding-left: 10px;
   padding-right: 20px; */
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width : 100%;
  background-color: rgb(154, 154, 211);
}

.navbar h3 {
  color: aliceblue;
  padding-right: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  background-color: rgb(154, 154, 211);
}

.footer a {
  color: white;
}

ul:hover{
  
}
